@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
    --searchflow-head: #1a1a1a;
    --searchflow-txt: #333;
    --searchflow-btn-bg: #007BFF;
    --searchflow-btn-txt: #ffffff;
} */